footer {
  padding: 50px 0px;
  background: #0d2436;
}

.footer__top {
  display: flex;
  justify-content: space-between;
}

.footer__top h3 {
  color: $secondaryColor;
}


.footer__top ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__top ul a {
  color: gray;
}

.footer__logo {
  width: 15%;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

@media (max-width: 1250px) {
  .footer__logo {
    width: 20%;
  }
  .footer__top {
    flex-wrap: wrap;
    gap: 50px;
  }
}

@media (max-width: 400px) {
  .footer__logo {
    width: 60%;
  }
}



@media (max-width: 500px) {
  .footer__top {
    display: flex;
    flex-direction: column;
  }
}
