#hero {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.loading,
.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

.loading__item,
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  box-shadow: 0px 0px 10px gray;
  overflow: hidden;
  height: 500px;
  transition: 0.3s;
}

.card:hover{
  opacity: 0.8;
}

.card button {
  padding: 10px 15px;
  border: 1px solid $primaryColor;
  border-radius: 5px;
  background: transparent;
  transition: 0.4s;
}

.card__btn:hover{
  background: $primaryColor;
  color: $secondaryColor;
}

.card__desc {
  padding: 14px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.loading__img,
.card__img {
  width: 100%;
  height: 60%;
  padding: 10px;
  object-fit: contain;
}


.card h3 {
  display: -webkit-box;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.loading {
  padding: 50px 0px;
  text-align: center;
}

.loading__title {
  width: 80%;
  height: 26px;
  margin-top: 10px;
}

.loading__title:last-child {
  width: 60%;
}

.bg__animation {
  background: linear-gradient(90deg, #eee, #ddd, #eee);
  background-size: 200%;
  animation: bgMove 1s linear 0s infinite;
}
@keyframes bgMove {
  to {
    background-position: 200%;
  }
}

.see__more__btn {
  padding: 15px 20px;
  display: block;
  margin: 20px auto;
  background: dodgerblue;
  color: white;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 5px;
}

.see__more__btn:hover {
  background: blue;
}

.see__more__btn:disabled {
  opacity: 0.6;
  cursor: no-drop;
}

.see__more__btn:disabled:hover {
  background-color: dodgerblue;
}

@media (max-width: 1300px) {
  .loading,
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .loading,
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .loading,
  .wrapper {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  .container {
    width: 90%;
  }
}

//
.single__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 30px 10%;
}

.content__info {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.content__info button {
  padding: 10px 15px;
}

.rating {
  display: flex;
  gap: 20px;
  align-items: center;
}

.rating img {
  width: 30px;
  height: 30px;
}
